$spacing-1: 5px;
$spacing-2: 7px;
$spacing-3: 10px;
$spacing-3h: 12px;
$spacing-4: 13px;
$spacing-5: 16px;
$spacing-6: 19px;
$spacing-6h: 21px;

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
