@mixin flex-gutter($modifier: 1) {
  margin: calc(-#{$spacing-1 * $modifier}/ 2);
  & > * {
    margin: calc(#{$spacing-1 * $modifier}/ 2);
    // max-width: calc(100% + (#{$spacing-1 * $modifier} * 2));
  }
}

@mixin grid-gutter($modifier: 1) {
  grid-gap: calc(#{$spacing-1 * $modifier});
}
